In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('MegaMart_sales.csv')
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [3]:
df_new = pd.read_csv('MegaMart_newsales.csv')
df_new.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases
2,AZ-2011-1916555,"Eldon Folders, Single Width",0.4,61,7,6,Office Supplies,Storage
3,AZ-2011-1930058,"Sanford Markers, Easy-Erase",0.0,71,1,3,Office Supplies,Art
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories

In [4]:
df.columns

Index(['Order ID', 'Product Name', 'Discount', 'Sales', 'Profit', 'Quantity',
       'Category', 'Sub-Category'],
      dtype='object')

In [5]:
df_new.columns == df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True])

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [6]:
#your code here
df = pd.concat([df, df_new], axis = 0, ignore_index = True)
df.head()

# ignore_index: 

# if True, the indexes from the source objects will be ignored 
# and a sequence of indexes from 0,1,2…n will be assigned to the result. 
# keys: a sequence to add an identifier to the result indexes.

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [7]:
df_by = df.groupby(by = 'Category')
df_by

In [8]:
total = df_by['Sales'].sum()
total

Category
Furniture          2460
Office Supplies    7970
Technology         8588
Name: Sales, dtype: int64

In [9]:
# Ans.
total['Office Supplies']

7970

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

Pandas Series: drop_duplicates() function
-----------

    import numpy as np
    import pandas as pd
    s = pd.Series(['cat', 'cow', 'cat', 'dog', 'cat', 'fox'],
                  name='animal')
    s.drop_duplicates(keep=False, inplace=True)
    s

Output:

    1    cow
    3    dog
    5    fox
    Name: animal, dtype: object

<br>
<center>
<table class="table table-bordered">
<tbody><tr>
<th>Name</th>
<th>Description</th>
<th>Type/Default Value </th>
<th>Required / Optional</th>
</tr>
<tr>
<td>keep </td>
<td><ul class="w3r_list"><li>‘first’ : Drop duplicates except for the first occurrence.</li>
<li>‘last’ : Drop duplicates except for the last occurrence.</li>
<li>False : Drop all duplicates.</li></ul></td>
<td>{‘first’, ‘last’, False}<br>
Default Value: ‘first’</td>
<td>Required</td>
</tr>
<tr>
<td>inplace</td>
<td>If True, performs operation inplace and returns None.</td>
<td>bool<br>
Default Value: False</td>
<td>Required</td>
</tr>
</tbody></table>

<br>

![ss](https://www.w3resource.com/w3r_images/pandas-series-drop_duplicates-image-2.svg)

</center>

[Source Code](https://www.w3resource.com/pandas/series/series-drop_duplicates.php)

In [10]:
#your code here
df.drop_duplicates(subset = None, keep = 'first', inplace = True)
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [11]:
total_new = df.groupby(by = 'Category')['Sales'].sum()
total_new

Category
Furniture          2460
Office Supplies    6964
Technology         7494
Name: Sales, dtype: int64

In [12]:
# Ans.
total_new['Office Supplies']

6964

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [13]:
#your code here
df_grouped = df.groupby(by = ['Category', 'Sub-Category'])['Profit'].sum()
df_grouped

Category         Sub-Category
Furniture        Bookcases        308
                 Chairs           -49
                 Furnishings       74
Office Supplies  Appliances       229
                 Art              275
                 Binders          156
                 Envelopes         35
                 Fasteners         10
                 Labels            30
                 Paper             15
                 Storage          192
                 Supplies         103
Technology       Accessories      215
                 Copiers            0
                 Machines         168
                 Phones          1618
Name: Profit, dtype: int64

In [14]:
# Ans. Technology  Phones
df_grouped[df_grouped == df_grouped.max()]

Category    Sub-Category
Technology  Phones          1618
Name: Profit, dtype: int64

#### Invalid order IDs
How many invalid Order IDs are there in the data frame. Order ID is of the form AZ-2011-Y where Y represents a whole number. An Order ID is said to be valid only if Y consists of 7 digits. Find the number of `invalid order IDs` in the data frame.

Note: Use duplicates dropped data frame
    
    a)6
    b)7
    c)8
    d)9

In [15]:
#your code here
df['Order no'] = df['Order ID'].str.split('-')
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels,"[AZ, 2011, 1029887]"
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings,"[AZ, 2011, 107716]"
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,"[AZ, 2011, 1087704]"
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,"[AZ, 2011, 1372644]"
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art,"[AZ, 2011, 1362199]"

In [16]:
df['Order no'] = df['Order no'].apply(lambda x: x[2])
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels,1029887
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings,107716
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art,1362199

In [17]:
df['no_of_digits'] = df['Order no'].apply(lambda x: len(x))
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels,1029887,7
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings,107716,6
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art,1362199,7

In [18]:
count_invalid = df['no_of_digits'].value_counts()
count_invalid # only ID length of 7 is valid

7    54
6     7
Name: no_of_digits, dtype: int64

In [19]:
# Ans.
count_invalid.loc[6] # this Series has 6 as invalid ID

7

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [20]:
#your code here
df2 = df.sort_values(by = 'Sales', ascending = False)
df2

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,176674,6
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7
...,...,...,...,...,...,...,...,...,...,...
44,AZ-2011-1603295,"Ibico Binder Covers, Clear",0.5,20,-17,3,Office Supplies,Binders,1603295,7
53,AZ-2011-1723003,"Ibico Index Tab, Clear",0.0,18,3,2,Office Supplies,Binders,1723003,7
50,AZ-2011-1680940,"Smead Round Labels, 5000 Label Set",0.0,15,1,2,Office Supplies,Labels,1680940,7
27,AZ-2011-1366554,"Avery Index Tab, Durable",0.0,13,3,2,Office Supplies,Binders,1366554,7
35,AZ-2011-1474073,"Wilson Jones Hole Reinforcements, Recycled",0.0,10,2,2,Office Supplies,Binders,1474073,7

In [21]:
df2 = df2.iloc[ :25, :]
df2

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,176674,6
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7
18,AZ-2011-1406494,"Fellowes Lockers, Industrial",0.1,748,283,4,Office Supplies,Storage,1406494,7
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases,144325,6
14,AZ-2011-1260928,"Eldon File Cart, Single Width",0.1,576,51,5,Office Supplies,Storage,1260928,7
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases,1253407,7
48,AZ-2011-1672552,"Binney & Smith Sketch Pad, Blue",0.0,510,132,11,Office Supplies,Art,1672552,7
41,AZ-2011-1584049,"Brother Ink, Laser",0.0,442,0,3,Technology,Copiers,1584049,7
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7
59,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders,1902971,7
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs,130330,6
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7
60,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases,1916360,7
11,AZ-2011-1240916,"Boston Canvas, Water Color",0.0,284,43,5,Office Supplies,Art,1240916,7
34,AZ-2011-145488,"Rogers File Cart, Industrial",0.4,255,-98,3,Office Supplies,Storage,145488,6
6,AZ-2011-1116129,"Avery Binding Machine, Durable",0.0,252,15,5,Office Supplies,Binders,1116129,7
42,AZ-2011-1584987,"Tenex File Cart, Industrial",0.1,241,24,2,Office Supplies,Storage,1584987,7
38,AZ-2011-1499597,"Boston Markers, Fluorescent",0.0,193,29,7,Office Supplies,Art,1499597,7
46,AZ-2011-1655349,"Fiskars Trimmer, Easy Grip",0.0,176,65,4,Office Supplies,Supplies,1655349,7
43,AZ-2011-1589827,"Novimex Steel Folding Chair, Red",0.6,164,-70,5,Furniture,Chairs,1589827,7

In [22]:
df2_cat = df2['Category']
df2_cat

30         Technology
58    Office Supplies
8          Technology
20         Technology
3          Technology
18    Office Supplies
39         Technology
33         Technology
31          Furniture
14    Office Supplies
12          Furniture
48    Office Supplies
41         Technology
52         Technology
59    Office Supplies
17          Furniture
2          Technology
60          Furniture
11    Office Supplies
34    Office Supplies
6     Office Supplies
42    Office Supplies
38    Office Supplies
46    Office Supplies
43          Furniture
Name: Category, dtype: object

In [23]:
df2_count = df2_cat.value_counts()
df2_count

Office Supplies    11
Technology          9
Furniture           5
Name: Category, dtype: int64

In [24]:
# Ans.
df2_count['Furniture']

5

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

Note: Use duplicates dropped data frame

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [25]:
#your code here
df3 = df.loc[(df['Sales'] > 250) & (df['Profit'] > 50)]
df3.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases,1253407,7
14,AZ-2011-1260928,"Eldon File Cart, Single Width",0.1,576,51,5,Office Supplies,Storage,1260928,7

In [26]:
len(df), len(df3)

(61, 16)

In [27]:
df3 = df3.sort_values(by = 'Sales', ascending = False)
df3.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,176674,6
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7

In [28]:
# Ans. product name of the fourth highest order has index 3
df3['Product Name'].iloc[3]

'Motorola Headset, with Caller ID'

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with `negative Profit or no Profit`. Now, among the entries with non-negative profit, find the product that makes the `lowest profit per Quantity` in the `Technology category`.

Note: Use duplicates dropped data frame

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [29]:
prof = df['Profit']
prof

0       7
1      15
2     109
3     168
4     -11
     ...
63     40
64     54
65     12
66     15
67     19
Name: Profit, Length: 61, dtype: int64

In [30]:
filtered = prof > 0
filtered

0      True
1      True
2      True
3      True
4     False
      ...
63     True
64     True
65     True
66     True
67     True
Name: Profit, Length: 61, dtype: bool

In [31]:
#your code here
df4 = df[filtered]
df4

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels,1029887,7
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings,107716,6
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7
5,AZ-2011-1114253,"Tenex Stacking Tray, Black",0.0,76,11,3,Furniture,Furnishings,1114253,7
6,AZ-2011-1116129,"Avery Binding Machine, Durable",0.0,252,15,5,Office Supplies,Binders,1116129,7
7,AZ-2011-1137571,"Stiletto Letter Opener, Easy Grip",0.0,90,17,3,Office Supplies,Supplies,1137571,7
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
9,AZ-2011-122598,"Avery Removable Labels, Alphabetical",0.0,32,6,3,Office Supplies,Labels,122598,6
10,AZ-2011-1229073,"Deflect-O Door Stop, Black",0.0,88,3,2,Furniture,Furnishings,1229073,7
11,AZ-2011-1240916,"Boston Canvas, Water Color",0.0,284,43,5,Office Supplies,Art,1240916,7
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases,1253407,7
14,AZ-2011-1260928,"Eldon File Cart, Single Width",0.1,576,51,5,Office Supplies,Storage,1260928,7
15,AZ-2011-1278696,"Acco Binder, Clear",0.0,44,14,3,Office Supplies,Binders,1278696,7
16,AZ-2011-1279238,"Kleencut Scissors, Easy Grip",0.0,96,21,4,Office Supplies,Supplies,1279238,7
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs,130330,6
18,AZ-2011-1406494,"Fellowes Lockers, Industrial",0.1,748,283,4,Office Supplies,Storage,1406494,7
19,AZ-2011-1315772,"Breville Toaster, Black",0.0,152,44,2,Office Supplies,Appliances,1315772,7
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7
22,AZ-2011-1331897,"Avery Binder Covers, Economy",0.0,33,10,3,Office Supplies,Binders,1331897,7
23,AZ-2011-1332474,"OIC Thumb Tacks, Bulk Pack",0.0,28,10,2,Office Supplies,Fasteners,1332474,7
26,AZ-2011-1362591,"Tenex Light Bulb, Black",0.0,38,11,2,Furniture,Furnishings,1362591,7
27,AZ-2011-1366554,"Avery Index Tab, Durable",0.0,13,3,2,Office Supplies,Binders,1366554,7
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases,144325,6
32,AZ-2011-1445249,"Boston Pens, Fluorescent",0.0,46,8,3,Office Supplies,Art,1445249,7
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7
35,AZ-2011-1474073,"Wilson Jones Hole Reinforcements, Recycled",0.0,10,2,2,Office Supplies,Binders,1474073,7
36,AZ-2011-1475254,"Harbour Creations Color Coded Labels, Adjustable",0.0,54,8,5,Office Supplies,Labels,1475254,7
37,AZ-2011-1484679,"Binney & Smith Markers, Easy-Erase",0.0,73,29,3,Office Supplies,Art,1484679,7
38,AZ-2011-1499597,"Boston Markers, Fluorescent",0.0,193,29,7,Office Supplies,Art,1499597,7
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7
42,AZ-2011-1584987,"Tenex File Cart, Industrial",0.1,241,24,2,Office Supplies,Storage,1584987,7
46,AZ-2011-1655349,"Fiskars Trimmer, Easy Grip",0.0,176,65,4,Office Supplies,Supplies,1655349,7
47,AZ-2011-1661180,"Jiffy Peel and Seal, Recycled",0.0,94,16,5,Office Supplies,Envelopes,1661180,7
48,AZ-2011-1672552,"Binney & Smith Sketch Pad, Blue",0.0,510,132,11,Office Supplies,Art,1672552,7
50,AZ-2011-1680940,"Smead Round Labels, 5000 Label Set",0.0,15,1,2,Office Supplies,Labels,1680940,7
51,AZ-2011-1693949,"Harbour Creations Color Coded Labels, Laser Pr...",0.0,39,8,3,Office Supplies,Labels,1693949,7
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7
53,AZ-2011-1723003,"Ibico Index Tab, Clear",0.0,18,3,2,Office Supplies,Binders,1723003,7
56,AZ-2011-1735855,"Deflect-O Photo Frame, Black",0.0,156,34,3,Furniture,Furnishings,1735855,7
57,AZ-2011-1754604,"Avery Binding Machine, Economy",0.0,98,12,2,Office Supplies,Binders,1754604,7
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,176674,6
59,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders,1902971,7
60,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases,1916360,7
61,AZ-2011-1916555,"Eldon Folders, Single Width",0.4,61,7,6,Office Supplies,Storage,1916555,7
62,AZ-2011-1930058,"Sanford Markers, Easy-Erase",0.0,71,1,3,Office Supplies,Art,1930058,7
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7
64,AZ-2011-1976919,"Boston Markers, Blue",0.0,132,54,5,Office Supplies,Art,1976919,7
65,AZ-2011-2001312,"Avery Binding Machine, Clear",0.0,97,12,2,Office Supplies,Binders,2001312,7
66,AZ-2011-2002251,"SanDisk Computer Printout Paper, 8.5 x 11",0.0,136,15,4,Office Supplies,Paper,2002251,7
67,AZ-2011-201891,"Cameo Clasp Envelope, with clear poly window",0.0,52,19,4,Office Supplies,Envelopes,201891,6

In [32]:
len(df), len(df4)

(61, 52)

In [33]:
df4_cat = df4['Category']
df4_cat

0     Office Supplies
1           Furniture
2          Technology
3          Technology
5           Furniture
6     Office Supplies
7     Office Supplies
8          Technology
9     Office Supplies
10          Furniture
11    Office Supplies
12          Furniture
14    Office Supplies
15    Office Supplies
16    Office Supplies
17          Furniture
18    Office Supplies
19    Office Supplies
20         Technology
22    Office Supplies
23    Office Supplies
26          Furniture
27    Office Supplies
30         Technology
31          Furniture
32    Office Supplies
33         Technology
35    Office Supplies
36    Office Supplies
37    Office Supplies
38    Office Supplies
39         Technology
42    Office Supplies
46    Office Supplies
47    Office Supplies
48    Office Supplies
50    Office Supplies
51    Office Supplies
52         Technology
53    Office Supplies
56          Furniture
57    Office Supplies
58    Office Supplies
59    Office Supplies
60          Furniture
61    Office Supplies
62    Office Supplies
63         Technology
64    Office Supplies
65    Office Supplies
66    Office Supplies
67    Office Supplies
Name: Category, dtype: object

In [34]:
filtered = (df4_cat == 'Technology')
filtered

0     False
1     False
2      True
3      True
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
22    False
23    False
26    False
27    False
30     True
31    False
32    False
33     True
35    False
36    False
37    False
38    False
39     True
42    False
46    False
47    False
48    False
50    False
51    False
52     True
53    False
56    False
57    False
58    False
59    False
60    False
61    False
62    False
63     True
64    False
65    False
66    False
67    False
Name: Category, dtype: bool

In [35]:
df4 = df4.loc[filtered]
df4 # all rows of category columns are technology

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7

In [36]:
quan = df4['Quantity']
quan

2      7
3      3
8      8
20    12
30     3
33     1
39     9
52     2
63     2
Name: Quantity, dtype: int64

In [37]:
prof = df4['Profit']
prof

2     109
3     168
8     200
20    316
30    820
33    140
39     66
52    142
63     40
Name: Profit, dtype: int64

In [38]:
df4['Profit_per_qty'] = prof / quan
df4

<ipython-input-38-47cd622c9ba5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Profit_per_qty'] = prof / quan

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits,Profit_per_qty
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7,15.571429
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7,56.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7,26.333333
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7,273.333333
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7,140.000000
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7,7.333333
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7,71.000000
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7,20.000000

In [39]:
low_prof = df4.sort_values(by = 'Profit_per_qty', ascending = True)
low_prof

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits,Profit_per_qty
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7,7.333333
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7,15.571429
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7,20.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7,26.333333
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7,56.000000
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7,71.000000
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7,140.000000
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7,273.333333

In [40]:
prof_col = low_prof[['Product Name', 'Profit_per_qty']]
prof_col

                        Product Name  Profit_per_qty
39   Logitech Keyboard, Programmable        7.333333
2      Belkin Flash Drive, Bluetooth       15.571429
63      Logitech Numeric Keypad, USB       20.000000
8   Nokia Audio Dock, with Caller ID       25.000000
20  Motorola Headset, with Caller ID       26.333333
3         Panasonic Printer, Durable       56.000000
52            Cisco Audio Dock, VoIP       71.000000
33       Apple Smart Phone, Cordless      140.000000
30      Nokia Smart Phone, Full Size      273.333333

In [41]:
# Ans.
prof_col.iloc[0,0]

'Logitech Keyboard, Programmable'