String Problem
-------------
Description

In a certain encrypted message which has information about the location(area, city), the characters are jumbled such that first character of the first word is followed by the first character of the second word, then it is followed by second character of the first word and so on



In other words, let’s say the location is bandra,mumbai



The encrypted message says ‘bmaunmdbraai’.



Sample Input:

bmaunmdbraai



Sample Output:

bandra,mumbai



Let’s say the size or length of the two words wouldn’t match then the smaller word is appended with # and then encrypted in the above format.



With this in mind write a code to identify the right location and print it as place,city.

In [13]:
inp='bmaunmdbraain'
msg1=inp[::2]
msg2=inp[1::2]
msg1+','+msg2

'bandran,mumbai'

In [10]:
msg1.strip('#')

'bandran'

In [11]:
msg2.strip('#')

'mumbai'

In [12]:
inp='bmaunmdbraain#'
msg1=inp[::2]
msg2=inp[1::2]
msg1.strip('#')+','+msg2.strip('#')

'bandran,mumbai'

List_remove_append
--------------

Description

Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [15]:
inp=['SAS', 'R', 'PYTHON', 'SPSS']
inp.remove('SPSS')
inp.append('SPARK')
inp

['SAS', 'R', 'PYTHON', 'SPARK']

List to String
----------------

Description

Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [18]:
inp=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
out=' & '.join(inp)
out

'Pythons syntax is easy to learn & Pythons syntax is very clear'

String Split
----------------

Description

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.



A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003
 

Note that you need to print in the order first name, last name and customer code.

In [20]:
inp='Kumar_Ravi_003'
out=inp.split('_')
out=out[1]+' '+out[0]+' '+out[2]
out

'Ravi Kumar 003'

Tuple
-------------

Description

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.



Sample Input:

('Monty Python', 'British', 1969)

----------------------

Sample Output:

('Monty Python', 'British', 1969, 'Python')

In [22]:
inp=('Monty Python', 'British', 1969)
out=list(inp)
out.append('Python')
out=tuple(out)
out

('Monty Python', 'British', 1969, 'Python')

Sets Practice
--------------

Description

Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example 



Sample Input :

A = [5, 1, 3, 4, 4, 5, 6, 7]

B = [3, 3, 5, 5, 1 ,7 ,2]



Sample Output:

[1,3,5,7]



If you observe the sample output here you can see that 

Though value 5 is repeated twice in both lists, in the final output it is present only once.
The values are returned in a sorted manner with values increasing.

In [26]:
A = [5, 1, 3, 4, 4, 5, 6, 7]
B = [3, 3, 5, 5, 1 ,7 ,2]
out=list(set(A)&set(B))
out

[1, 3, 5, 7]

Dictionary Coding
----------------

Description

Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).



Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}



Sample output:

'Product Lead'



Note: Assume that employee data would be available in the data provided to you

In [30]:
inp = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]} 
out=inp[104][2]
out

'Product Lead'

Dict_Error
-----------------

Description

From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.



Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }



Sample Output:

NA