# [Bank Marketing Campaign EDA](https://colab.research.google.com/drive/19Xz8Ltdk0GqRwb2AusEt9MkuoyKWxPNe?usp=sharing)

Data Type
-----------

Let's say there is a column in a dataset which essentially contains numerical values. 

But its data type is an object, which needs to be rectified and should be converted into int or float type.

Choose the correct command to convert such object type column in a dataframe into integer or float type. 

More than one option may be correct.

    df["feature"]= df["feature"].astype(int)

    df.["feature"]= df.["feature"].astype(int)

    df["feature"]= df["feature"].astype(float) 

    df.["feature"]= df.["feature"].astype(float)

--------------

    df["feature"]= df["feature"].astype(int)

    df["feature"]= df["feature"].astype(float)

    Feedback:
    This particular command is used to convert any type of variable into float.

Data Type
-----------

Find the average age of the customers in the bank marketing data set.

    51

    40

    50

    41

-----------------

`41` ✓ Correct

    Feedback:

Convert the age variable into numeric type from object type, which can be an integer, and then find the mean.

    inp0["age"]= inp0["age"].astype(int)

    inp0.age.mean()

MLAs
------

In a database “MLA” containing the details of MLAs throughout India, you have a city named Rampur in Himachal Pradesh, UP and Chhattisgarh. 

The city names are stored in the “City” column, while state names are stored in the “State” column. 

What is the best way to represent the cities in this case?

---------------------

Keeping the most relevant Rampur, removing the other two

    ✕ Incorrect
      Feedback:

    Removing the city name can lead to the loss of information.


Merging the City, State columns to get a unique identifier

    ✓ Correct
      Feedback:

    The city and state columns need to be merged so that each city is 
    uniquely identifiable for further analysis.


Randomly choosing which Rampur to keep in the dataset, to make the dataset simpler

Cleaning of columns
------------

You have seen that Rahim has dropped the `“customerid”` column as it is of no use. 

For dropping the column, the command `inp0.drop(“customerid”, inplace= True)` has been used. 

Can you explain what the purpose of `inplace = True` in this code? 

Pick the correct option.

--------------

Use of inplace = True will return a new data frame without the 'customerid' column. It also drops the column in the original data frame, i.e., inp0.

---------------

Use of inplace = True only returns a new data frame without the 'customerid' column.

---------------

Use of `inplace = True does not return any new data frame` but is simply drops the customerid column in original data frame i.e. inp0.

    ✓ Correct
      Feedback:

    When inplace = True is used, it performs the operation on dataframe 
    and nothing is returned.

    When inplace = False is used, it performs the operation on 
    dataframe and returns a new copy of data.

-------------------

None of the above.

Data Cleaning
-----------

What points should be kept in mind while handling the rows and columns for preparing the data for analysis and to fetch maximum information from it?

------------

Simply remove the columns if you find more than 20% of data in that column as missing. It may reduce the bulkiness of the data set and make it simple to analyse.

-----------------

Splitting a column into 2 or 3 columns increases the number of variables in the data set. However, one should remember that splitting is not preferred unless you get any unique information.

    ✓ Correct
      Feedback:

    Columns should be split to get more variables if that yields any 
    unique and useful information. Like in our data set, 
    jobedu can be split into job and education.

------------------

In the bank marketing dataset, you can bucket the data according to age group, for example, <30, 30-40, 40-50, 50-60, >70, It may yield better insights about the responses based on age groups.

    ✓ Correct
      Feedback:

    Bucketing by age group may yield new insights about the 
    perspective of different age groups.

-----------------

It is important to have information about the variables or instances, for example, whether they have null values, blank values or invalid values.

    ✓ Correct
      Feedback:

    When you observe the dataset, it is necessary to look into 
    the count of null values. 
    You will learn more about it in further segments.

Missing Values
--------

Implement the code in your blank Jupyter notebook and find the exact number of missing values in the response column. 

Choose the correct option from the below.

    30

    40

    50

    60

-----------

`30` ✓ Correct

    Feedback:

The code in Python to find the missing values of the response column is as follows:

    inp1.response.isnull().sum()

Missing Values
------------

Implement the code in your blank Jupyter notebook and find the percentage of missing values in the response column. 

Choose the correct option from the below.

    1%

    0.1%

    0.06%

    0.006%

-------------

`0.06%` ✓ Correct

    Feedback:

You need to write the code in Python to find the missing values in the response column.

    100 * (inp1.response.isnull().sum() / inp1.shape[0])

Missing Values
-------

What do you think about the treatment of missing values in the response column?

----------------

They should not be dropped, as that may affect the data set.

    They can be removed because they are very small in number as 
    compared to entries in the dataset.

    ✓ Correct
      Feedback:

    You can drop it as it is very less in percentage.
    inp1 = inp1[~inp1.response.isnull()]

Create a separate category named 'missing' to deal with such values.

Outliers
---------

Consider the following two statements:

1. The difference between the maximum value of the balance variable and the 99th percentile is too high.

2. The difference between the 99th percentile value and the 95th percentile value of the balance variable is in  the normal range, meaning it is not too high.

Based on the above two statements, choose the correct option which concludes that the balance variable has outliers in it.


    Statement 1 is alone sufficient to conclude that balance 
    variables have outliers.

    Both the statements are insufficient to conclude that 
    the balance variable has outliers.

    ✓ Both the statement are together sufficient to conclude 
    that it has outliers.

    Any of the statement is alone sufficient to conclude 
    that the balance variable has outliers.

-----------

    Both the statement are together sufficient to conclude that it has outliers.

    ✓ Correct
      Feedback:

Both the statements are simultaneously required for you to infer from statement 1 that if the maximum value of the variable is far from the 99th percentile, it gives a clear idea that there are outliers in the data set. 

In addition, from the 2nd statement, you can see that there is no huge difference between the quantile of 95th and 99th.

Outliers
-----------

Which of the following methods can be used to identify the outliers (univariate/multivariate) in the dataset?

    Hint : More than one answer can be correct

-------------

Box plot can be used to plot the single variable and find its interquartile range and quantiles.

    ✓ Correct
      Feedback:

    Box plot gives a clear picture of all the points and 
    visualises the quantiles to infer knowledge about the outliers.

-------------------

The difference of each point from the mean/median value in the dataset is alone sufficient to identify whether a point is an outlier or not.

-------------

Scatter plot can be used to identify the multivariate outliers.

    ✓ Correct
      Feedback:

    Scatter plot between two variable gives the pictorial view of 
    multivariate outliers.

Outliers
---------

What is the mean and 75th percentile of the salary variable in bank marketing data set, respectively?

    57004, 60000

    57004, 70000

    70000, 57004

    60000, 57004

-------------

    57004, 70000

    ✓ Correct
      Feedback:

Just write the following code to describe the salary variable. 

You will find the `mean` and `75th percentile`.  

    inp1.salary.describe()

-----------

      count     45161.000000
    ✓ mean      57004.849317
      std       32087.698810
      min           0.000000
      25%       20000.000000
      50%       60000.000000
    ✓ 75%       70000.000000
      max      120000.000000
      Name: salary, dtype: float64