https://colab.research.google.com/drive/1cKRh00gIElps3UvbLBaGSBESg_kqHwsY

If-Else
--------------

Description

Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.



For example, if input_str = 'analytics' then, your output should print 'YES'.



Sample Input:

alpha



Sample Output:

YES

In [ ]:
import ast,sys
input_str = sys.stdin.read()

if input_str[0] in ['a','e','i','o','u','A','E','I','O','U']:
    print('YES')
else:
    print('NO')

In [ ]:
import ast,sys
input_str = sys.stdin.read()

#Write your code here
#Use capital YES or NO
if input_str[0].lower() in 'aeiou':
    print('YES')
else:
    print('NO')

![](https://images.upgrad.com/68c9686b-cfb0-4d0b-827d-772862e7c793-Two-Buttons.jpg)

Iterations
-------------

Description


You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower case



Sample Input:



['VARMA', 'raj', 'Gupta', 'SaNdeeP']







Sample Output



['Varma', 'Raj', 'Gupta', 'Sandeep']

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

updated_list= []

for i in input_list:
    updated_list.append(i.capitalize())
    
print(updated_list)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

# Type your code here
output_list=[]
for i in input_list:
    output_list.append(i[0].upper() + i[1:].lower())
print(output_list)

List Comprehension
----------

Description

You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list. 







For example, if the input is 4, the output should be a list as follows:

[1, 4, 9, 16]




The input integer 'n' is stored in the variable 'n'.

In [ ]:
import ast, sys
n = int(input())
final_list = [n**2 for n in range(1,n+1)]
print(final_list)

In [ ]:
import ast, sys
n = int(input())


# Write your code here (remember to print the list)
print([i*i for i in range(1,n+1)])

List Comprehensions
---------

Description

Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.



Sample Input:

['wood','old','apple','big','item','euphoria']



Sample Output:

﻿['old', 'apple', 'item', 'euphoria']

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

final=[word for word in input_list if word[0].lower() in 'aeiou']
print(final)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

list_vowel = [i for i in input_list if i[0] in 'aeiou']

print(list_vowel)

Function
-------

Description

Create a function squared(), which takes x and y as arguments and returns the x**y value. For e.g., if x = 2 and y = 3 , then the output is 8.



Sample Input:

['6','7']



Sample Output:

﻿279936

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
x = int(input_list[0])
y = int(input_list[1])

def squared(x,y):
   
   return x**y
print(squared(x,y))

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
x = int(input_list[0])
y = int(input_list[1])

#Write your code here
def squared(x,y):
    return x**y
    
print(squared(x,y))

Lambda
------------

Description

Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

If x = 2 and y= 3, then the output should be 3.



Sample Input:

['9','3']



Sample Output:

﻿9

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
a = int(input_list[0])
b = int(input_list[1])

greater = lambda a,b: a if a>b else b

print(greater(a,b))

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
a = int(input_list[0])
b = int(input_list[1])

#Write your code here
greater = lambda a,b : a if a>b else b
    
print(greater(a,b))

Map Function
---------

Description

Using the function Map, count the number of words that start with ‘S’ in input_list.



Sample Input:

['Santa Cruz','Santa fe','Mumbai','Delhi']



Sample Output:

2

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

count = sum(map(lambda x: x[0] == 'S', input_list))
print(count)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

count = len([x for x in list(map((lambda x: x[0].lower() == 's'), input_list)) if x])
print(count)

Map Function
----

Description

Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 

For e.g. if the input list is:

    [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

the output list should be the list:

    ['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

Note: Add a space between first name and last name.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

first_name = input_list[0]
last_name = input_list[1]

name = list(map(lambda x,y: x+ " " + y, first_name,last_name))

print(list(name))

In [ ]:
# import ast,sys
# input_str = sys.stdin.read()
# input_list = ast.literal_eval(input_str)

input_list = [['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

first_name = input_list[0]
last_name = input_list[1]

name = list(map((lambda x,y: f'{x} {y}'), first_name, last_name))
print(name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [ ]:
list2d = [['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
x=[]

for i,j in zip(list2d[0], list2d[1]):
  x.append(f'{i} {j}')

print(x)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [ ]:
print([f'{x} {y}' for x,y in zip(list2d[0], list2d[1])])

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

Filter Function
----------

Description

Extract a list of numbers that are multiples of 5 from a list of integers named input_list.



Sample Input:

    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]



Sample Output:

    [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]



Note: Use the filter() function.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)


list_answer = list(filter(lambda x: x%5 == 0, input_list))

print(list_answer)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

list_answer = [i for i in input_list if not i%5]
print(list_answer)

Filter Function
--------

Description

    You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].



Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.



Sample Input:

    ['soap','sharp','shy','silent','ship','summer','sheep']



Sample Output:

    ['soap', 'sharp', 'ship', 'sheep']



Note: Use the filter() function.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

sp = list(filter(lambda x: (x[0]=='s') & (x[-1]=='p' ) , input_list))

print(sp)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

sp = list(filter(lambda x: x[0] == 's' and x[-1] == 'p', input_list))
print(sp)

Reduce Function
------------

Description

Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.

    If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.



Sample Input:

    ['All','you','have','to','fear','is','fear','itself']



Sample Output:

All you have to fear is fear itself

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

from functools import reduce

string1 = str(reduce(lambda x,y: x + " " +y, input_list))
print(string1)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

from functools import reduce

#write your code here.
print(str(reduce(lambda x,y: x + " " +y, input_list)))

Reduce Function
------------

Description

You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.



Sample Input:

    [65,76,87,23,12,90,99]



Sample Output:

99

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
from functools import reduce

answer = reduce(lambda a,b : a if a > b else b,input_list)

print(answer)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
from functools import reduce

answer = reduce(lambda x, y: x if x > y else y,input_list)
print(answer)

# MCQs

In [ ]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [ ]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [ ]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [ ]:
def function(n):
  n=n+1
 
n=2
print(function(2))

None

In [ ]:
x=10
def func(x):
   x=20
print(x)
 
print(x)

10
10

In [ ]:
def samplefunc(msg,i=3):
  print(msg*i)
 
samplefunc('python',4)
samplefunc('program')

pythonpythonpythonpython
programprogramprogram

In [ ]:
f=lambda x:bool(x%2)
print(f(100)* f(101))

0

In [ ]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [ ]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [ ]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x7f7a4c574250>

In [ ]:
from functools import reduce

try:
  print(list(reduce(lambda x,y:x+y,range(5,15))))
except Exception as e:
  print(e)


from functools import reduce
lis=[reduce(lambda x,y:x+y,range(5,15))]
print(lis)

'int' object is not iterable
[95]

-------------------

`Q.` `12/14).`

    Is the output of the following two code snippets the same?

    Are they logically the same for any values in ‘lis’?

-----------------

In [ ]:
import functools
lis=[1, 2, 3, 4, 5]
m=functools.reduce(lambda x, y:x if x<y else y, lis)
print(m)

1

In [ ]:
lis=[1, 2, 3, 4, 5]
c=lis[0]
for i in range(len(lis)-1):
  if lis[i]<c:
      c=lis[i]
print(c)

1

-----------------

`Y, Y`

`✕ Incorrect`

    Feedback:

    This is an incorrect answer! 
    Try for lis = [5, 2, 3, 4, 1].

------------------

`Y, N`

`✓ Correct`

    Feedback:
    
    This is the correct answer! 
    Both the functions appear to be used 
    to find the smallest element of the list. 
    But, the second code misses on 
    iterating the last element of the list.

------------------

In [ ]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [ ]:
# Read the following code. 
# Select from the given options the length 
# of the list printed.


def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(list(m))


# This is the correct answer! 
# The list elements here will be [12, 20, 28] 
# because they are the numbers divisible by 4 
# and not divisible by 8 within the given range.

[12, 20, 28]

# Practice Questions - I
---------------

Even numbers in a list
---------

Description

`Given a list of integers, write a python code to find all the even numbers present in the list.`


Note: Try using lambda and filter functions to solve the problem.



    Input: A list of integers

    Output: A list of integers



----------------------------------------------------------------------



    Sample input: 
    [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 

    Sample output: 
    [22, 54, 62]



----------------------------------------------------------------------



    Sample input: 
    [500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]

    Sample output: 
    [500, 2112, 5894, 9062, 600]



----------------------------------------------------------------------

In [6]:
import ast

#read the input here
input_list = ast.literal_eval(input())

#since the result is a subset of the input list, we will use the filter function. 
#instead of for loop, we will use the lambda function.  
final_list = list(filter(lambda x: (x%2 == 0) , input_list)) 
print(final_list)

In [7]:
#take input here using ast sys
import ast

# write the code here
inp = ast.literal_eval(input())
print([i for i in inp if not i%2])

Triple the list elements
------------

Description

`Given a list of integers, write a python code to triple all the values in the list.`



Note: Try using lambda and map functions to solve the problem.



    Input: A list of integers

    Output: A list of integers



----------------------------------------------------------------------



    Sample input: 
    [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    Output: 
    [15, 21, 66, 291, 162, 186, 231, 69, 219, 183]



----------------------------------------------------------------------



    Sample input: 
    [15, 71, 2, 9, 5, 6, 11, 3, 7, 6]

    Output: 
    [45, 213, 6, 27, 15, 18, 33, 9, 21, 18]



----------------------------------------------------------------------

In [10]:
import ast

#read the input here.
input_list = ast.literal_eval(input())


#mapping lambda function to each element of the input_list
final_list = list(map(lambda x: x*3, input_list)) 
print(final_list)

In [ ]:
#take input here using ast sys
import ast

# write the code here
inp = ast.literal_eval(input())

print([i*3 for i in inp])

Encrypt elements in a list
---------

Description

`A company stores the names of their employees in a list. They want to encrypt the names so that no one can read them and the data stays safe. One of the steps in encrypting is to reverse each name in the list and convert them to uppercase and your task is to write a Python code to execute the same.`



Note: Use lambda and map functions.



Input: A list of names

Output: A list of encrypted names



----------------------------------------------------------------------



    Sample input: ['Ronaldo', 'Cristiano', 'Rakesh', 'Ronak']

    Sample output: ['ODLANOR', 'ONAITSIRC', 'HSEKAR', 'KANOR']



----------------------------------------------------------------------



    Sample input: ['Abhay', 'Aravind', 'Desilva', 'Darpan']

    Sample output: ['YAHBA', 'DNIVARA', 'AVLISED', 'NAPRAD']



----------------------------------------------------------------------

In [11]:
inp = ['Ronaldo', 'Cristiano', 'Rakesh', 'Ronak']
list(map(lambda x: x[::-1].upper(), inp))

['ODLANOR', 'ONAITSIRC', 'HSEKAR', 'KANOR']

In [ ]:
import ast

#read the input here.
input_lst = input()
names= ast.literal_eval(input_lst)
  
#here, we intend to change all names by reversing the string and converting  them to upper case
encode_names = list(map(lambda name: str.upper(name[::-1]), names)) 
  
print(encode_names)

In [ ]:
#take input here using ast sys
import ast

# write the code here
inp = ast.literal_eval(input())
print(list(map(lambda x: x[::-1].upper(), inp)))

# Practice Questions - II

-----

https://jovian.com/sethuaswinkumar/week-3-practice-questions-and-solutions

Sorting a dictionary
---------

Description

`Given is a list consisting of dictionary elements. Each dictionary contains the name of a student as a first item and his/her corresponding rank as the second item. Your task is to write a Python program to print the list (dictionary elements) in a sorted ascending order according to student ranks. In case the rank of two or more students are the same, then sort them in ascending order (alphabetically) according to their names.`



Note: Use the sorted() function to solve the question.



    Input: Dictionary

    Output: Dictionary



----------------------------------------------------------------------



    Sample input: [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]

    Sample output: [{ "name" : "Aravind" , "rank" : 19 }, { "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },]



----------------------------------------------------------------------



    Sample input: [{ "name" : "Mohan", "rank" : 2}, { "name" : "Mandeep", "rank" : 2 }, { "name" : "Merut" , "rank" : 2 }]



    Sample output: [{'name': 'Mandeep', 'rank': 2}, {'name': 'Merut', 'rank': 2}, {'name': 'Mohan', 'rank': 2}]



----------------------------------------------------------------------

In [15]:
inp = [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]
sorted(inp, key = lambda x: (x["rank"], x["name"]))

[{'name': 'Aravind', 'rank': 19},
 {'name': 'Arpit', 'rank': 20},
 {'name': 'Manjeet', 'rank': 20}]

In [ ]:
import ast

#read the input here.
list_of_dict = ast.literal_eval(input())

#sort the dictionary based on the rank and then by name
print(sorted(list_of_dict, key = lambda dictionary: (dictionary['rank'], dictionary['name'])))

In [ ]:
import ast
input_dict = ast.literal_eval(input())

sorted_dict = sorted(input_dict,key=lambda x: (x["rank"],x["name"]))
print(sorted_dict)

Intersection of lists
------------

Description

`In ‘ABC’ university, company ‘XYZ’ conducted three rounds of interviews to recruit students. Those students who passed all the rounds were selected. The company released the results for each round in a separate list. Your task is to write a Python code to display the list of the students who passed all the three rounds.`

------------------

Note: 

a. Name of the person can be given in uppercase or lowercase.


 b. Print the names in lowercase in the output.

-------------

    Input: List

    List

    List



    Output: List



----------------------------------------------------------------------



    Sample input: ['Arkam', 'Bairstow', 'Cairy', 'Darpan'] 

    ['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']

    ['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']

            

    Sample output: ['arkam', 'bairstow']



----------------------------------------------------------------------



    Sample input: ['Pranay', 'Aditya', 'Deepesh', 'Sandesh']

    ['Pranoy', 'Surya', 'Cairy', 'Vignesh', 'ADITYA', 'SANDesh']

    ['Vardhan', 'Shailesh', 'aditya', 'sandesh']

            

    Sample output: ['aditya', 'sandesh']



----------------------------------------------------------------------

    Sample input: ['Siddharth', 'Gaurav', 'Prasad', 'Kuldeep', 'karna']

    ['siddharth', 'Gaurav', 'Prasad', 'Kuldeep', 'karna']

    ['Siddharth', 'gaurav', 'PRASAD', 'KuLDEEp', 'KARNA']



    Sample output: ['siddharth', 'gaurav', 'prasad', 'kuldeep', 'karna']

In [ ]:
import ast

#read the input here.
input_lst = input()
round_1 = ast.literal_eval(input_lst )

#read the input here.
input_lst = input()
round_2= ast.literal_eval(input_lst )

#read the input here.
input_lst = input()
round_3= ast.literal_eval(input_lst )



def interSection(list1,list2): 

    #convert all the names to lowercase so that casing does not become a problem.

    list1 = list(map(lambda name: name.lower(), list1))
    list2 = list(map(lambda name: name.lower(), list2))

    #use the filter function as the final list  is a subset.
    #check for values that are present in both list1 and list2.

    result = list(filter(lambda x: x in list1, list2))
    return result


intersection_round1_round2 = interSection(round_1,round_2)

final_result = interSection(intersection_round1_round2,round_3)

print(final_result)

In [ ]:
import ast
list1 = ast.literal_eval(input())
list2 = ast.literal_eval(input())
list3 = ast.literal_eval(input())

R1 = list(map(lambda x: x.lower(),list1))
R2 = list(map(lambda x: x.lower(),list2))
R3 = list(map(lambda x: x.lower(),list3))

final_list = []
for i in R1:
    if (i in R2) and (i in R3):
        final_list.append(i)

print(final_list)

In [ ]:
import ast
list1 = ast.literal_eval(input())
list2 = ast.literal_eval(input())
list3 = ast.literal_eval(input())

round1 = [i.lower() for i in list1]
round2 = [i.lower() for i in list2]
round3 = [i.lower() for i in list3]

finalist = [i for i in round1 if (i in round2) and (i in round3)]

print(finalist)

In [21]:
# this cell is rejected...

# inp1 = ['Arkam', 'Bairstow', 'Cairy', 'Darpan'] 
# inp2 = ['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']
# inp3 = ['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']

# list(set.intersection(set([i.lower() for i in inp1]), set([i.lower() for i in inp2]), set([i.lower() for i in inp3])))

['bairstow', 'arkam']

Sorting a list of dictionary elements
------------

Description

`A teacher decided to divide the class into groups to conduct fun activities. Each group had one or more members in it. The data is provided in the form of a list with dictionary elements. The key and value in each dictionary correspond to the student’s roll number and his/her name.`

-------------------


`In case the length of two or more dictionaries are the same, then the dictionary that occurs first in the input list will also appear first among the other dictionaries of the same length.`

-----------------------


`Your task is to write a Python program to sort the list in descending order with respect to the group strength.`

---------------------

Note: Use lambda and sorted functions to solve the question.



    Input: List

    Output: List



----------------------------------------------------------------------



    Sample input: [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]



    Sample output: [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}]



----------------------------------------------------------------------



    Sample input: [{14: 'Darpan', 19: 'Harry', 10: 'Julia'}, {12: 'Ethan', 19: 'Rogers'}, {3: 'Kohli', 1: 'Neymar', 29: 'Sachin', 7: 'Ramesh'}]



    Sample output: [{3: 'Kohli', 1: 'Neymar', 29: 'Sachin', 7: 'Ramesh'}, {14: 'Darpan', 19: 'Harry', 10: 'Julia'}, {12: 'Ethan', 19: 'Rogers'}]



----------------------------------------------------------------------

Execution Time Limit
10 seconds

In [24]:
import ast

#read the list.
input_list= input()
input_list= ast.literal_eval(input_list)

# performing sort using sorted(), lambda for filtering. 
res = sorted(input_list, key=lambda sub: len(sub), reverse = True) 
  
# printing result 
print(res)

In [33]:
import ast
input_list = ast.literal_eval(input())

sorted_list = sorted(input_list, key=lambda x:len(x),reverse=True)
print(sorted_list)

[{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]
[{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}]