# Probability Distributions - II

Probability Distributions
------------

Which of the following probability distributions is/are NOT valid, complete probability distribution(s)?

![ss](https://upww.screenrec.com/images/f_ag0HyMOrSq1ABnGmc3UbjNIu9zi7wP4D.png)


    Only Table A is an invalid distribution

    Only Table B is an invalid distribution

    Only Table C is an invalid distribution

------------

    Only Table C is an invalid distribution

    ✓ Correct
    Feedback:

This is not a valid distribution. 

P(X = 0) has been given as -0.05. 

However, there is no such thing as a negative probability. 

Also, the total probability is 1.1, which does not make sense. 

The total of all probabilities in a probability distribution should be equal to 1.

E
V
(
X
)
=
x
1
∗
P
(
X
=
x
1
)
+
x
2
∗
P
(
X
=
x
2
)
+
x
3
∗
P
(
X
=
x
3
)
+
.
.
.
.
.
.
.
.
.
.
.
+
x
n
∗
P
(
X
=
x
n
)

Expected Value
------------

Now, can you calculate the expected value of X (where X is the money won by the player after playing the game once)?

| X (Money won after playing once)	| Probability |
|                ---                |    ----     |
|               +150	              |   0.133     |
|                -10	              |   0.867     |
 

You can use this probability distribution to find the answer.

In [1]:
ev = 150 * 0.133 + (-10) * 0.867
ev, ev < 0

(11.280000000000003, False)

Expected Value of Player's Winnings
---------------

So, the expected value of a player’s winnings is positive, but we want to make it negative. 

Which of the following changes to the game would make the expected value negative?

    Increase the penalty to ₹25

    Decrease the prize money to ₹90

------------

    Increase the penalty to ₹25
    ✓ Correct
    Feedback:

Keeping the prize money as ₹150 and increasing the penalty to ₹25 would make the expected value 

    (0.133 * 150) + (0.867 * -25) = -1.725, 

which is a negative value.

In [2]:
ev = 0.133 * 90 + 0.867 * (-10)
ev, ev < 0

(3.3000000000000007, False)

In [3]:
ev = 0.133 * 150 + 0.867 * (-25)
ev, ev < 0

(-1.7249999999999979, True)

Expected Value of Player's Winnings
--------

Suppose we change the game’s rules to the following:

|      Outcome     	| Prize|
|      -------      | ---- |
| 4 red balls	      | +150 |
| 4 blue balls      | -150 |
| Any other outcome | -10  |

What will be the expected value now for X (the amount of money won by a player after playing the game once)?

    -2.5

    -5

    +2.5

    +7.5

----------------

    +7.5
    ✓ Correct
    Feedback:

Recall that the expected value of a random variable is given by 

x1
 *P(X= 
x1
 ) + 
x2
*P(X=
x2
) + 
x3
*P(X=
x3
) + ……. + 
xn
*P(X=
xn
), where 
x1
, 
x2
, 
x3
 ….. 
xn

are all the different possible values of X. 

So, the expected value here would be 

    150*P(X = 150) + (-150)*P(X = -150) + (-10)*P(X = -10). 

Now, P(X = 150) = P(getting 4 red balls) = 0.133. 

Also, P(X = -150) = P(getting 4 blue balls) = 0.027 and 

P(X = -10) = P(getting 1, 2 or 3 red balls) = 0.840. 

Putting in those values, we get 

EV(X) = (150*0.133) + (-150*0.027) + (-10*0.840) = +7.5

In [4]:
ev = (150 * 0.133) + (-150 * 0.027) + (-10 * 0.840)
ev, ev < 0

(7.500000000000002, False)

Expected Return
-----------

| X (Net Revenue of Project, in ₹ Crore) | P(x) |
|  ------------------------------------- | ---- |
| -305                                   | 0.1  | 
|  +15                                   | 0.7  |
|  +95                                   | 0.2  |

Find the expected value of X if its probability distribution is as given in the table above. 

(Answer in terms of crores.)

-------------

The expected value of X, which is also called the expected return, is equal to:

    (-305) * P(X = -305) + (+15) * P(X = +15) + (+95) * P(X = +95) 
    = (-305) * 0.1 + (+15) * 0.7 + (+95) * 0.2 
    = -₹1 crore.

So, the expected return of the project is -₹1 crore. Hence, we can conclude that the project is not worth investing in.

In [5]:
ev = -305 * 0.1 + 15 * 0.7 + 95 * 0.2
ev

-1.0

# Practice Questions

Expected Loss
----------

Now, to find the expected loss, the bank has created the following table. 

As you already know, the probability of customer 1 being a defaulter is 0.007 

and that of the customer not being a defaulter is 0.993. 

Now, in the case of default, what would be the value of X, 

i.e. the money lost by the bank?

<br>

Defaulter/Non-defaulter	 |  Probability  |	X (Money Lost by Bank) 
--- | ---- | ----
Defaulter	| 0.007 |	-
Non-defaulter	| 0.993 |	0

<br>

    ₹2.3 lakh

    ₹9.2 lakh

    ₹11.5 lakh

    ₹57.5 lakh

----------

    ₹9.2 lakh

    ✓ Correct
    Feedback:

The amount recovered would be equal to 20% of 11.5 lakh, 

    i.e. ₹2.3 lakh. 

However, X is defined as the money lost by the bank. 

So, the amount lost would be equal to the total money exposed, 

i.e. ₹11.5 lakh, minus the money recovered, 

    i.e. ₹2.3 lakh. 

That would mean that the money lost 

    = 11.5 - 2.3 = ₹9.2 lakh

In [6]:
import pandas as pd
df = pd.read_csv('Inferential Statistics - Student Loan.csv')
df.iloc[:1, :3].head()

   Customer No.  Exposure at Default (in lakh Rs.) Recovery (%)
0             1                               11.5       20.00%

In [7]:
'''
if 20% is recovery for customer 1,
then 80% of 11.5 lakh will be lost.
'''

11.5 * 80/100

9.2

Expected Loss
-----------

Now, the bank has the following data -

<br>

| Defaulter/Non-defaulter	 | Probability |  X (Money Lost by Bank) |
| ---- | ---- | --- |
| Defaulter	| 0.007	 | ₹9.2 lakh |
| Non-defaulter	| 0.993 |	0 |

<br>

What would be the expected loss (expected value of the money lost by the bank)?

    ₹6440

    ₹9.2 lakh

    ₹9,200

    ₹6.44 lakh

----------

    ₹6440
    ✓ Correct
    Feedback:

The random variable X has two possible values, 

9.2 lakh for when the customer defaults, 

and 0 for when the customer doesn’t. 

So, the Expected value 

    = 9.2 lakh*P(X = 9.2 lakh) + 0*P(X=0) 
    = 9,20,000*(0.007) + 0*(0.993) 
    = 6,440

In [8]:
el = 0.007 * 9200000 + 0.993 * 0
el

64400.0

Expected Loss
----------

[Doubt](https://learn.upgrad.com/course/4460/segment/34999/214307/657371/3330715)

So, in general, what would be the expected loss?

    PD * EAD * R

    PD * EAD * (1-R)

    (1-PD) * EAD * R

----------------

- Exposure at default (`EAD`) is the total money owed by the customer in case of default.

- Recovery (`R`) is the percentage of the exposed money that the bank would be able to recover.

  - For example, in the example above, the bank would recover 20% of the exposed money, i.e., 20% * 11.5 = ₹2.3 lakh.

- Probability of default (`PD`) is the probability that the customer will default. This is calculated for each customer using a number of factors such as family income, university attended, etc.


    PD * EAD * (1-R)

    ✓ Correct
    Feedback:

X can take two values. 

When the customer defaults, 

    X = EAD - (EAD*R) = EAD*(1-R). 

When she/he doesn’t, `X = 0`. 

So, the Expected value 

    = EAD(1-R)*P(X = EAD(1-R)) + 0*P(X=0) 
    = EAD*(1-R)*PD + 0

Expected Loss
---------

Now, the bank wants to find the total expected loss. 

This is done by calculating the expected losses for each of the 10,000 customers and then adding them up.

The data for all the customers of the bank is given in the file 

    Inferential Statistics - Student Loan.csv

What would be the value of the total expected loss?

    ₹1.25 crores

    ₹4.93 crores

    ₹6.18 crores

    ₹3.09 crores

-----------

    ₹4.93 crores

    ✓ Correct
    Feedback:

As you saw in the previous question, expected loss because of the first customer is ₹6,440. 

In general, it is given by `PD * EAD * (1-R)` for each customer. 

Using R or Excel, you can find the expected loss for each customer using this formula. 

Adding up all of these 10,000 customers' expected losses, we get that 

the total expected loss 

    = ₹4.93 crores

In [9]:
df['Recovery (%)'] = df['Recovery (%)'].apply(lambda x : float(x.replace('%', '')))
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00,0.0070,NaN,NaN
1,2,0.24,5.10,0.0033,NaN,NaN
2,3,0.04,24.86,0.0022,NaN,NaN
3,4,13.81,2.29,0.0066,NaN,NaN
4,5,19.84,3.47,0.0020,NaN,NaN

In [10]:
el = df['Probability of Default'] * df['Exposure at Default (in lakh Rs.)'] * (1 - df['Recovery (%)'] / 100)
df['Expected Loss (in Rs.)'] = el * 10**5
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,Expected Loss (in Rs.)
0,1,11.50,20.00,0.0070,NaN,NaN,6440.00000
1,2,0.24,5.10,0.0033,NaN,NaN,75.16080
2,3,0.04,24.86,0.0022,NaN,NaN,6.61232
3,4,13.81,2.29,0.0066,NaN,NaN,8905.87566
4,5,19.84,3.47,0.0020,NaN,NaN,3830.31040

In [11]:
total_expected_loss = df['Expected Loss (in Rs.)'].sum() / 10**7
total_expected_loss

4.933913144062

In [12]:
# Ans.
f'Total expected loss = ₹ {(total_expected_loss).round(2)} crores'

'Total expected loss = ₹ 4.93 crores'

In [13]:
df['Unnamed: 4'].isnull().sum(), df['Unnamed: 5'].isnull().sum(), df.shape[0]

(10000, 10000, 10000)

In [14]:
df.drop(['Unnamed: 4', 'Unnamed: 5'], axis = 1, inplace = True)
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Expected Loss (in Rs.)
0,1,11.50,20.00,0.0070,6440.00000
1,2,0.24,5.10,0.0033,75.16080
2,3,0.04,24.86,0.0022,6.61232
3,4,13.81,2.29,0.0066,8905.87566
4,5,19.84,3.47,0.0020,3830.31040

In [15]:
df.to_csv('Student Loan - Expected Loss.csv', index=False)