# Case Statements - I

Case Statement
--------

Which of the following describes a case statement?

    It is a way to establish a loop in SQL.

    It is a way to establish an IF-THEN-ELSE in SQL.

    It is a way to establish a data definition in SQL.

    All of the above.

------------

    It is a way to establish an IF-THEN-ELSE in SQL.

    ✓ Correct
    Feedback:

It is a Case statement that is used to define conditions in a query, just like an IF-THEN-ELSE statement in other programming languages.

Case Statement Output
------------

Consider a table named 'marks', which has nine columns, as shown below:

name: Name of the student

semester_1: Average marks in the first semester

semester_2: Average marks in the second semester

semester_3: Average marks in the third semester

semester_4: Average marks in the fourth semester

semester_5: Average marks in the fifth semester

semester_6: Average marks in the sixth semester

semester_7: Average marks in the seventh semester

semester_8: Average marks in the eighth semester


What will be the output of the SQL query mentioned below?

    SELECT name,
    ( CASE
      WHEN semester_1 > semester_2 THEN 'Sem 1'
      ELSE 'Sem 2'
    END) AS 'Sem 1/2'
    FROM marks;

---------

    The names of the students and the semester out of 1 and 2 in which a student scored more marks.

    The names of the students, and 'Sem 2'.

    All student details and the semester out of 1 and 2 in which a student scored more marks.

    All student details, and 'Sem 2'.

-----------

    The names of the students and the semester out of 1 and 2 in which a student scored more marks.

    ✓ Correct
    Feedback:

The given query will return the name along with the output of the case statement.

The case statement will output the semester out of 1 and 2 in which a student scored more marks.

Tax Slabs
---------

**Description**

Below is the table for the income tax slabs in India.

**Tax Slabs**

![ss](https://media-doselect.s3.amazonaws.com/generic/31wY3Y85eV5pRbWOvkLeXyxB3/Capture.PNG)

Here are the annual salary details (in lakhs per annum) of 10 employees working at Google Hyderabad office.

**Salaries**

![ss](https://media-doselect.s3.amazonaws.com/generic/RXwYK8preqN497wgz8Ze0oy4v/Capture.PNG)

Add another column to output the tax slabs along with the given data.

**Note**: Consider the name of the column having the salaries as 'salary'.

**Sample Output**

![ss](https://media-doselect.s3.amazonaws.com/generic/bZapa8k1rE3M97zqj74pRRbA/Capture.PNG)

-----------

    use upgrad;

    select *,
      (case
        when salary <= 2.5 then 'A'
            when salary > 2.5 and salary <= 5 then 'B'
            when salary > 5 and salary <= 10 then 'C'
            when salary > 10 then 'D'
      end) as 'Tax Slab'
    from salaries;

# Case Statements - II

Tax Slabs - 2
--------

**Description**

Below is the table for calculating income tax rates for the income tax slabs in India.

**Tax Rates**

![ss](https://media-doselect.s3.amazonaws.com/generic/xxE222o0LAybBJBrAGyEvVwe/Capture.PNG)

Here are the annual salary details (in lakhs per annum) of 10 employees working at Google Hyderabad office.

**Salaries**

![ss](https://media-doselect.s3.amazonaws.com/generic/RXwYK8preqN497wgz8Ze0oy4v/Capture.PNG)

Add another column to output the income tax to be paid by each employee.

Make sure to round off the tax amounts to the nearest integer.

Also, display the tax amount as 0 if the annual salary is less than or equal to 2.5 lakhs per annum.

**Note**: Consider the name of the column having the salaries as 'salary'.

**Sample Output**

![ss](https://media-doselect.s3.amazonaws.com/generic/yvK3o8P8axjVWW2BjZAvzp7wg/Capture.PNG)

------------

    use upgrad;

    select *,
    round(case
    when salary <= 2.5
    then 0
    when salary > 2.5 and salary <= 5
    then 0.05 * (salary - 2.5) * pow(10,5)
    when salary > 5 and salary <= 10
    then (0.125 + 0.2 * (salary - 5)) * pow(10,5)
    when salary > 10
    then (1.125 + 0.3 * (salary - 10)) * pow(10,5) end) as 'Tax Amounts'
    from salaries;

# User-defined functions (**`UDFs`**)

Number of Return Values
----------

How many values can be returned from a given stored function?

    0

    1

    2

    More than 2

-----

    1

    ✓ Correct
    Feedback:

A stored function `returns` one and only **one** value.

The Deterministic Keyword
---------

Stored functions always return the same result for the same input parameters by default.

    True

    False

-----

    False

    ✓ Correct
    Feedback:

You need to specify the Deterministic keyword to ensure that the output is the same for the same input values.

This is disabled in MySQL by default.

UDFs vs Case Statements
-------

You learnt how to categorise orders based on the profit or loss incurred.

This problem statement was solved using two methods - case statements and UDFs.

Are there any advantages of using one method over the other?

If so, what are they?

----------

`Suggested Answer`

- A case statement is preferable if you just need to categorise existing data values based on certain parameters.

- A UDF using case statements is preferable if you need to categorise existing as well as incoming data values based on certain parameters.

# Stored Procedures

The **differences** between `UDFs and stored procedures` are summarised in the table given below.

UDF	| Stored Procedure
--- | ---
1. It supports only the input parameter, not the output.	| 1. It supports input, output and input-output parameters.
2. It cannot call a stored procedure.	| 2. It can call a UDF.
3. It can be called using any SELECT statement.	| 3. It can be called using only a CALL statement.
4. It must return a value.	| 4. It need not return a value.
5. Only the 'select' operation is allowed.	| 5. All database operations are allowed.

# Cursors

`Cursors`: A cursor is used to individually process each row that is returned in a query.

Cursors in Real Life
-------

In the video, Professor Ramanathan mentioned that you can use cursors in loan processing when you want to implement checks

and perform the required action for each loan applicant.

Can you think of another example where you can use cursors?

--------

`Suggested Answer`

You can use cursors for bank account transactions to move money back and forth between the bank and a customer's account in that bank in real-time.

You can do this individually for each customer at all times, by processing each banking request individually.