# Rank Functions - I

Most Available Products
--------

**Description**

Given a table named `products` with the following columns.

![ss](https://media-doselect.s3.amazonaws.com/generic/9dZa9a5VYWbkAz1P8NpxkONj/Capture.PNG)

Write a query to retrieve the ranks of the products in decreasing order of their quantities in stock.

**Sample Output**

![ss](https://media-doselect.s3.amazonaws.com/generic/nO7YZ8Y5V9YJnpR0P9wa7edP3/Capture.PNG)

---------

    use upgrad;

    select quantityInStock,
    rank() over (order by quantityInStock desc) as quantityRank
    from products;

# Rank Functions - II

There are different types of rank functions, which are as follows:

- **RANK**(): Rank of the current row within its partition, with gaps
- **DENSE_RANK**(): Rank of the current row within its partition, without gaps
- **PERCENT_RANK**(): Percentage rank value, which always lies between 0 and 1


    CBSE Marks (12th)

Name | Marks (out of 500)	| Rank | Dense Rank
--- | --- | --- | ---
Shubham Agarwal	| 495 |	1	| 1
Paritosh Sinha | 495 | 1 | 1
Dilip Kumar	| 492	| 3	| 2

<br>

------

Notice how Dilip's rank is 3 but his dense rank is 2.

This is because the rank increases whenever the previous entries have similar values.

Rank Functions
--------

Which of the following is `not` a rank function in MySQL Workbench?

    RANK()

    DENSE_RANK()

    PRECEDING_RANK()

    PERCENT_RANK()

---------

    PRECEDING_RANK()

    ✓ Correct
    Feedback:

There is no such function as `PRECEDING_RANK()` in MySQL Workbench.

Movie Ranks
-------

Given below is a table containing the top 10 movies according to their IMDb ratings.

![ss](https://upww.screenrec.com/images/f_ZmE0SGYJh7TNbBD6zp1acLntuyUK2vif.png)

Find the values (A, B).

    (5, 6)

    (5, 9)

    (6, 6)

    (6, 9)

-----------

    (5, 9)

    ✓ Correct
    Feedback:

Dense ranks are tightly packed; they have to be `consecutive`.

The values of the ranks depend on the number of similarly valued entries in a table, and they need not be consecutive.

Since there are four entries with rank 5, the next different entry would have a rank of **5 + 4 = 9**.

# Rank Functions - III

You can use the 'row number' function for the following use cases:

- To determine the top 10 selling products out of a large variety of products
- To determine the top three winners in a car race
- To find the top five areas in different cities in terms of GDP growth

# Partitioning

Window Functions
--------

Which of the following statements is true for window functions?

More than one option may be correct.

-------------

    They compute a value for each and every row in the window.

    ✓ Correct
    Feedback:

Window functions are run repeatedly for every value in the table.

-------------

    They reduce the result set based on the aggregation.

-----------

    They require the 'over' clause.

    ✓ Correct
    Feedback:

You must use the ‘over’ clause whenever you use any window function.

----------

    Window partitions can be defined to form groups of rows.

    ✓ Correct
    Feedback:

Partitions are used to perform window functions on segmented groups,

for deriving further insights from data.

-----------

Individual and Total Order Amounts
----------

**Description**

Given a table named orderdetails with the following columns

**Orderdetails**

![ss](https://media-doselect.s3.amazonaws.com/generic/a7KbMGebq3dONQeR035JaBOQ4/order_id_table.PNG)

There are some orders that have multiple order amounts corresponding to the same order.

Write a query to retrieve the individual and total order amounts for each order along with the order numbers.

Order the values in the increasing order of the order numbers.

For similar order numbers, arrange the individual order amounts in the decreasing order.

**Expected Output**

![ss](https://media-doselect.s3.amazonaws.com/generic/A0yRR8L9njvkZWw8q73oaRQPb/Capture.PNG)

--------

    use upgrad;

    select orderNumber, quantityOrdered * priceEach as individualOrderAmount,
    sum(quantityOrdered * priceEach) over (partition by orderNumber) as totalOrderAmount
    from orderdetails
    order by orderNumber, individualOrderAmount desc;

# Named Windows

The order in which the various SQL statements appear in a query is as follows:

1. SELECT
2. FROM
3. JOIN
4. WHERE
5. GROUP BY
6. HAVING
7. WINDOW
8. ORDER BY

Using Named Windows
--------

Rewrite the following query using a named window:

    SELECT *,
    RANK() OVER (
      PARTITION BY ship_mode
      ORDER BY COUNT(*)) 'Rank',
    DENSE_RANK() OVER (
      PARTITION BY ship_mode
      ORDER BY COUNT(*)) 'Dense Rank',
    PERCENT_RANK() OVER (
      PARTITION BY ship_mode
      ORDER BY COUNT(*)) 'Percent Rank'
    FROM shipping_dimen;

---------

`Suggested Answer`

You can include the entire clause containing the 'partition by' and 'order by' keywords in a named window as follows:

    SELECT *,
    RANK() OVER w 'Rank',
    DENSE_RANK() OVER w 'Dense Rank',
    PERCENT_RANK() OVER w 'Percent Rank'
    FROM shipping_dimen
    WINDOW w AS (
      PARTITION BY ship_mode
      ORDER BY COUNT(*)
    );

# Frames - I

Kohli - The Batting Behemoth
------

The table given below contains the runs scored by Virat Kohli over the time period 2015-2019.

It also contains the moving averages of the runs (rounded to the nearest integer) calculated using the 'unbounded preceding' keywords in SQL.

Identify the year that contains the incorrect value for the moving average.

**`Kohli Batting`**

![ss](https://images.upgrad.com/d37f6d12-657a-43d5-ba84-12f8578d0037-Capture.PNG)

    2016

    2017

    2018

    2019

---------

    2018

    ✓ Correct
    Feedback:

The moving average for the year 2018 would be the average of 623, 739, 1,460 and 1202, which is 1,006.

Note that the averages have increased over the years, which indicates an upward trend in Virat's batting performance.

Kohli in ODIs
----------

**Description**

The table given below contains the number of runs scored by Virat Kohli over the time period 2008-2019.

Add another column which displays the 5-year moving average of the number of runs scored.

**Kohli_Batting**

![ss](https://media-doselect.s3.amazonaws.com/generic/9Gr8R2XwWG3dAnL3Zzj3dZoOr/Capture.PNG)

**Sample Output**

![ss](https://media-doselect.s3.amazonaws.com/generic/ygQMBXpjLK7WX2w75NvOM4qjM/Sample%20Output.PNG)

------

    use upgrad;

    select *, avg(runs) over (order by year rows 4 preceding) '5 Year Moving Average'
    from kohli_batting;

# Frames - II

![ss](https://images.upgrad.com/cd42f8f5-8974-452e-9fc5-d85c0d75c376-Capture.PNG)

Defining Frames - 1
------

Consider the example given in the video.

![ss](https://images.upgrad.com/b3ba2173-4272-495e-aba4-e3961098cc10-Capture.PNG)

What is the range of rows that will be selected if you write the following frame clause?

(Assume that the current row is Row 6)

    ORDER BY X ROWS 4 FOLLOWING

--------

    Row 6 to Row 9

    Row 7 to Row 10

    Row 6 to Row 3

    Row 5 to Row 2

-------------

    Row 7 to Row 10

    ✓ Correct
    Feedback:

The given frame clause will select rows after Row 6 since the FOLLOWING keyword has been used.

Also, the current row will not be included while setting up the frame.

Defining Frames - 2
---------

Consider the example given in the video.

![ss](https://images.upgrad.com/b3ba2173-4272-495e-aba4-e3961098cc10-Capture.PNG)

What is the range of rows that will be selected if you write the following frame clause?

(Assume that the current row is Row 6)

    ORDER BY X ROWS
    BETWEEN 2 PRECEDING AND 3 FOLLOWING

---------

    Row 3 to Row 8

    Row 4 to Row 8

    Row 4 to Row 9

    Row 5 to Row 9

----------

    Row 4 to Row 9

    ✓ Correct
    Feedback:

'2 PRECEDING' means the frame clause will select Row 5 and Row 4.

'3 FOLLOWING' means that Rows 7, 8 and 9 will also be selected.

It goes without saying that the current row, Row 6, is included in the frame.

Defining Frames - 3
-----------

Consider the example given in the video.

![ss](https://images.upgrad.com/b3ba2173-4272-495e-aba4-e3961098cc10-Capture.PNG)

What is the range of rows that will be selected if you write the following frame clause?

(Assume that the current row is Row 6)

    ORDER BY X DESC ROWS
    BETWEEN UNBOUNDED PRECEDING AND 2 FOLLOWING

----------

    Row 1 to Row 8

    Row 4 to Row 11

    Row 1 to Row 11

    Row 1 to Row 7

---------

    Row 4 to Row 11

    ✓ Correct
    Feedback:

Since the DESC keyword has been used, the order of the rows on which the frame will be created will be reversed.

Customer Frequency
-----------

Can you think of a way to determine the difference between two consecutive orders made by a particular customer?

----------

**`Suggested Answer`**

You can apply a row number function to the table to get index values for each row.

Now, apply a self join on the table to get two sets of row number values.

Finally, you can apply the required computation to get the next date of order in the same row as the current one.

There is a much easier method, which has been explained in the rest of the video.

# Lead and Lag Functions

The syntax for using the 'lead' and 'lag' functions are as follows:

    LEAD(expr[, offset[, default]])
      OVER (Window_specification | Window_name)

    LAG(expr[, offset[, default]])
      OVER (Window_specification | Window_name)