https://colab.research.google.com/drive/1h8pmv-olHlT4yXLQlODm22OlnaD_rJEe#scrollTo=08rMfgMvh3yc

String Problem
-------------
Description

In a certain encrypted message which has information about the location(area, city), the characters are jumbled such that first character of the first word is followed by the first character of the second word, then it is followed by second character of the first word and so on



In other words, let’s say the location is bandra,mumbai



The encrypted message says ‘bmaunmdbraai’.



Sample Input:

bmaunmdbraai



Sample Output:

bandra,mumbai



Let’s say the size or length of the two words wouldn’t match then the smaller word is appended with # and then encrypted in the above format.



With this in mind write a code to identify the right location and print it as place,city.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
message1 = input_str[0:-1:2]
message2 = input_str[1:len(input_str):2]
print(message1.strip('#') + "," + message2.strip('#'))

In [ ]:
import ast,sys
input_str = sys.stdin.read()
message1 = input_str[0:-1:2]
message2 = input_str[1:len(input_str):2]
print(message1.strip('#') + "," + message2.strip('#'))

List_remove_append
--------------

Description

Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [ ]:
import ast,sys
input_list = (sys.stdin.read()).split(',')
input_list.remove('SPSS')
input_list.append('SPARK')
print(input_list)

In [ ]:
import ast,sys
input_list = (sys.stdin.read()).split(',')
# Write code to remove 'SPSS'
# Write code to append 'SPARK'
input_list.remove('SPSS')
input_list.append('SPARK')
print(input_list)

List to String
----------------

Description

Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [ ]:
import ast,sys
input_str = (sys.stdin.read()).split(',')

string_1 = ' & '.join(input_str)
print(string_1)

In [ ]:
import ast,sys
input_str = (sys.stdin.read()).split(',')

string_1 = ' & '.join(input_str)
print(string_1)

String Split
----------------

Description

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.



A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003
 

Note that you need to print in the order first name, last name and customer code.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
first_name = input_str.split("_")[1]
second_name = input_str.split("_")[0]
customer_code = input_str.split("_")[2]
print(first_name)
print(second_name)
print(customer_code)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
name = input_str.split('_')
first_name = name[1]
second_name = name[0]
customer_code = name[2]
print(first_name)
print(second_name)
print(customer_code)

Tuple
-------------

Description

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.



Sample Input:

('Monty Python', 'British', 1969)



Sample Output:

﻿('Monty Python', 'British', 1969, 'Python')

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_tuple = ast.literal_eval(input_str)
list_1 = list(input_tuple)
list_1.append('Python')
tuple_2 = tuple(list_1)
print(tuple_2)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_tuple = ast.literal_eval(input_str)

# Write your code here
tuple_2 = list(input_tuple)
tuple_2.append('Python')
tuple_2 = tuple(tuple_2)

# Make sure to name the final tuple 'tuple_2'
print(tuple_2)

![no internet](https://images.upgrad.com/151c5b38-e92f-44e8-b1fd-508a145dfb76-dont-try-to-change-me-dude-i-am-what-i-8626324.png)

Sets Practice
--------------

Description

Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example 



Sample Input :

A = [5, 1, 3, 4, 4, 5, 6, 7]

B = [3, 3, 5, 5, 1 ,7 ,2]



Sample Output:

[1,3,5,7]



If you observe the sample output here you can see that 

Though value 5 is repeated twice in both lists, in the final output it is present only once.
The values are returned in a sorted manner with values increasing.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
list_1 = input_list[0]
list_2 = input_list[1]

set_1 = set(list_1)
set_2 = set(list_2)
set_3 = set_1.intersection(set_2)
answer= sorted(list(set_3))
print(answer)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
list_1 = input_list[0]
list_2 = input_list[1]

set_1 = set(list_1)
set_2 = set(list_2)
set_3 = set_1.intersection(set_2)
answer= sorted(list(set_3))
print(answer)

Dictionary Coding
----------------

Description

Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).



Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}



Sample output:

'Product Lead'



Note: Assume that employee data would be available in the data provided to you

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_dict = ast.literal_eval(input_str)
Employee_list = list( input_dict[104])
profession = Employee_list[2]
print(profession)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_dict = ast.literal_eval(input_str)

#Type you answer here
profession = input_dict[104][2]

print(profession)

Dict_Error
-----------------

Description

From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.



Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }



Sample Output:

NA

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_dict = ast.literal_eval(input_str)

answer = input_dict.get('Label','NA')

print(answer)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_dict = ast.literal_eval(input_str)


# Type your answer here
try:
    answer = input_dict['Label']
except:
    answer = 'NA'
print(answer)

List of Values in a Dictionary.
-------------

Description

Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Input:

{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Output:

﻿['Amazon', 'Apple', 'RJIO', 'Twitter']

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_dict = ast.literal_eval(input_str)
value_list = input_dict
print(sorted(value_list.values()))

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_dict = ast.literal_eval(input_str)

#type your answer here
print(sorted(list(input_dict.values())))

Fantastic Four
--------------

Identify the first four orders that were processed. [Note: Assume the order IDs are being generated consecutively]


1152, 1154, 1155, 1156


1051, 1152, 1153, 1154

-------------------

1050, 1051, 1052, 1054

✓ Correct
Feedback:
 In order to find the first four processed orders, you first need to sort the elements in the processed order; then, using the slicing concept, you have to pass the start and end indexes based on the element you require.

processed_orders[0:4]

------------------------

1050, 1051, 1052, 1053

✕ Incorrect
Feedback:
You have to find the first four processed orders, so ideally you have to sort the elements first and then do slicing as indexing starts from 0 and not 1.

Your answer is Wrong.
Attempt 2 of 2

If-Else
---------

Description

Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.



For example, if input_str = 'analytics' then, your output should print 'YES'.



Sample Input:

alpha



Sample Output:

YES

In [ ]:
import ast,sys
input_str = sys.stdin.read()

if input_str[0] in ['a','e','i','o','u','A','E','I','O','U']:
    print('YES')
else:
    print('NO')

In [ ]:
import ast,sys
input_str = sys.stdin.read()

#Write your code here
#Use capital YES or NO
if input_str[0].lower() in 'aeiou':
    print('YES')
else:
    print('NO')

![](https://images.upgrad.com/38fbba2c-f364-4716-a7e2-7457a0a37786-68c9686b-cfb0-4d0b-827d-772862e7c793-Two-Buttons%20(2).jpg)

Iterations
--------------

Description


You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower case



Sample Input:



['VARMA', 'raj', 'Gupta', 'SaNdeeP']







Sample Output



['Varma', 'Raj', 'Gupta', 'Sandeep']

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

updated_list= []

for i in input_list:
    updated_list.append(i.capitalize())
    
print(updated_list)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

# Type your code here
output_list=[]
for i in input_list:
    output_list.append(i[0].upper() + i[1:].lower())
print(output_list)

In [ ]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

List Comprehension
-----------

Description

You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list. 







For example, if the input is 4, the output should be a list as follows:

[1, 4, 9, 16]




The input integer 'n' is stored in the variable 'n'.

In [ ]:
import ast, sys
n = int(input())
final_list = [n**2 for n in range(1,n+1)]
print(final_list)

In [ ]:
import ast, sys
n = int(input())


# Write your code here (remember to print the list)
print([i*i for i in range(1,n+1)])

List Comprehensions
-----------

Description

Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.



Sample Input:

['wood','old','apple','big','item','euphoria']



Sample Output:

﻿['old', 'apple', 'item', 'euphoria']

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

final=[word for word in input_list if word[0].lower() in 'aeiou']
print(final)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

list_vowel = [i for i in input_list if i[0] in 'aeiou']

print(list_vowel)

Function
---------

Description

Create a function squared(), which takes x and y as arguments and returns the x**y value. For e.g., if x = 2 and y = 3 , then the output is 8.



Sample Input:

['6','7']



Sample Output:

﻿279936

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
x = int(input_list[0])
y = int(input_list[1])

def squared(x,y):
   
   return x**y
print(squared(x,y))

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
x = int(input_list[0])
y = int(input_list[1])

#Write your code here
def squared(x,y):
    return x**y
    
print(squared(x,y))

Lambda
-----------

Description

Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

If x = 2 and y= 3, then the output should be 3.



Sample Input:

['9','3']



Sample Output:

﻿9

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
a = int(input_list[0])
b = int(input_list[1])

greater = lambda a,b: a if a>b else b

print(greater(a,b))

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
a = int(input_list[0])
b = int(input_list[1])

#Write your code here
greater = lambda a,b : a if a>b else b
    
print(greater(a,b))

Map Function
-----------

Description

Using the function Map, count the number of words that start with ‘S’ in input_list.



Sample Input:

['Santa Cruz','Santa fe','Mumbai','Delhi']



Sample Output:

2

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

count = sum(map(lambda x: x[0] == 'S', input_list))
print(count)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

count = len([x for x in list(map((lambda x: x[0].lower() == 's'), input_list)) if x])
print(count)

Map Function
---

Description

Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 

For e.g. if the input list is:
[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

the output list should be the list:
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

Note: Add a space between first name and last name.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
first_name = input_list[0]
last_name = input_list[1]

name = list(map(lambda x,y: x+ " " + y, first_name,last_name))

print(list(name))

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
first_name = input_list[0]
last_name = input_list[1]

name = list(map((lambda x,y: f'{x} {y}'), first_name, last_name))
print(name)

Filter Function
------------

Description

Extract a list of numbers that are multiples of 5 from a list of integers named input_list.



Sample Input:

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]



Sample Output:

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]



Note: Use the filter() function.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)


list_answer = list(filter(lambda x: x%5 == 0, input_list))

print(list_answer)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

list_answer = [i for i in input_list if not i%5]
print(list_answer)

Filter Function
------------

Description

You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].



Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.



Sample Input:

['soap','sharp','shy','silent','ship','summer','sheep']



Sample Output:

['soap', 'sharp', 'ship', 'sheep']



Note: Use the filter() function.

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

sp = list(filter(lambda x: (x[0]=='s') & (x[-1]=='p' ) , input_list))

print(sp)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

sp = list(filter(lambda x: x[0] == 's' and x[-1] == 'p', input_list))
print(sp)

Reduce Function
-------------

Description

Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.

If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.



Sample Input:

['All','you','have','to','fear','is','fear','itself']



Sample Output:

﻿All you have to fear is fear itself

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

from functools import reduce

string1 = str(reduce(lambda x,y: x + " " +y, input_list))
print(string1)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

from functools import reduce

#write your code here.
print(str(reduce(lambda x,y: x + " " +y, input_list)))

Reduce Function
---------

Description

You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.



Sample Input:

[65,76,87,23,12,90,99]



Sample Output:

﻿99

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
from functools import reduce

answer = reduce(lambda a,b : a if a > b else b,input_list)

print(answer)

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
from functools import reduce

answer = reduce(lambda x, y: x if x > y else y,input_list)
print(answer)

# end